.slider {
  display: block;
}

.slider-container {
  display: inline-block;
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: block;
}

.navigation-buttons {
  display: none;
}

.navigation-buttons .btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.navigation-buttons .btn.btn-prev {
  left: 0;
}

.navigation-buttons .btn.btn-next {
  right: 0;
}

.showNavigationButtons {
  display: block;
}

.placeholder {
  width: 400px;
  height: 200px;
  display: none;
}

.placeholder.show-placeholder {
  display: block;
}

.placeholder.show-placeholder + .navigation-buttons {
  display: none;
}
