body {
  margin: 0;
}
.slider {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.image {
  object-fit: cover;
  object-position: 50% 50%;
}
.btn-prev {
  position: absolute;
  left: 0;
}
.btn-next {
  position: absolute;
  right: 0;
}
